body {
    margin: 0;
    background-color:#f9f7f7;
    text-align: center;
}

.top-container {
    background-color: #EAF6F6;
    width: 100%;
    height: 575px;
    position: relative;
    padding-top: 100px;
}

.top-container h1 {
    font-family: 'Caveat', cursive;
    font-size: 3em;
    margin-top: 0;
    margin: auto;
    color: #66BFBF;
}
.top-container h2 {
    font-family: 'Roboto Condensed', sans-serif;
    color: #66BFBF;
    font-weight: normal;
    line-height: 2;
    font-size: 1.5em;
}

p{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: auto;
}

h2 {
    font-family: 'Roboto Condensed', sans-serif;
    color: #66BFBF;
    font-size: 36px;
    padding-bottom: 10px;
}

h3 {
    color: #11999E;
    font-family: 'Caveat', cursive;
    font-size: 30px;
}

.bottom-container a {
    color:#11999E ;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-decoration: none;
    margin: 7px;
    font-size: 1.2rem;
}

.bottom-container a:hover {
    color: cadetblue;
    background-color: #fff;
    padding: 0px;
}

hr {
    width: 60%;
    border: solid rgba(0, 255, 255, 0.281) 6px;
}

.top-cloud {
    position: absolute;
    padding-top: 10px;
    right: 630px;
}

.bottom-cloud {
    position: absolute;
    bottom: 330px;
}

.bottom-mountain {
    margin: auto;
}

.profile {
    padding-top: 100px;
    width: 30%;
    margin: auto;
}

.skill-row {
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
}

.skills-img {
    float: right;
    margin-left: 20px;
}

.map-img {
    width: 14%;
    float: left;
    margin-right: 30px;
}

.middle-container {
    padding-top: 30px;
}

.contact-me {
    padding-bottom: 40px;
}

.bottom-container {
    padding-top: 60px;
    background-color: #66BFBF;
    margin-bottom: 0;
}

.intro p {
    width: 1px;
}

.btn {
    background: #3D94F6;
    background-image: -webkit-linear-gradient(top, #3D94F6, #598DE1);
    background-image: -moz-linear-gradient(top, #3D94F6, #598DE1);
    background-image: -ms-linear-gradient(top, #3D94F6, #598DE1);
    background-image: -o-linear-gradient(top, #3D94F6, #598DE1);
    background-image: linear-gradient(to bottom, #3D94F6, #598DE1);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    color: #FFFFFF;
    font-family: Verdana;
    font-size: 15px;
    font-weight: 100;
    padding: 15px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
    }
    
    .btn:hover {
    border: solid #FFFFFF 0px;
    background: #1E62D0;
    background-image: -webkit-linear-gradient(top, #1E62D0, #3DB1F6);
    background-image: -moz-linear-gradient(top, #1E62D0, #3DB1F6);
    background-image: -ms-linear-gradient(top, #1E62D0, #3DB1F6);
    background-image: -o-linear-gradient(top, #1E62D0, #3DB1F6);
    background-image: linear-gradient(to bottom, #1E62D0, #3DB1F6);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    text-decoration: none;
    }